# PORT
PORT=8080

# ENVIRONMENT
NODE_ENV=development

# FRONTEND URL
APP_ORIGIN=http://localhost:5173

# DATABASE
MONGODB_URI=your-mongodb-connection-string

# COOKIE SECRET
COOKIE_SECRET=your-cookie-secret

# GOOGLE OAUTH CREDENTIALS
GOOGLE_CLIENT_ID=your-google-client-id

# RESEND CREDENTIALS
RESEND_API_KEY=your-resend-api-key

# EMAIL_FROM
EMAIL_FROM=your-email-address

# R2 CREDENTIALS
R2_ACCOUNT_ID=your-cloudflare-account-id
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET=your-r2-bucket-name

# STRIPE CREDENTIALS
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret