# PORT
PORT=8080

# ENVIRONMENT
NODE_ENV=development

# FRONTEND URL
APP_ORIGIN=http://localhost:5173

# DATABASE
MONGODB_URI=your-mongodb-connection-string

# COOKIE SECRET
COOKIE_SECRET=your-cookie-secret